In [ ]:
s = 'Data Science Academy'

In [ ]:
# a partir da posicao 1
s[1:]

'ata Science Academy'

In [ ]:
# string
s

'Data Science Academy'

In [ ]:
# ate a posicao 3
s[:3]

'Dat'

In [ ]:
# ultima posicao menos 1
s[-1]

'y'

In [ ]:
# ultima posicao menos 2
s[-3]

'e'

In [ ]:
# tudo menos a ultima posicao
s[:-1]

'Data Science Academ'

In [ ]:
# saltando de 1 em 1
s[::1]

'Data Science Academy'

In [ ]:
# saltando de 2 em 2
s[::2]

'Dt cec cdm'

In [ ]:
# saltando de 1 em 1 ao contrario
s[::-1]

'ymedacA ecneicS ataD'

MÃ‰TODOS BUILT-IN

In [15]:
s

'Data Science Academy'

In [17]:
s.upper()

'DATA SCIENCE ACADEMY'

In [19]:
s.lower()

'data science academy'

In [20]:
s.split()

['Data', 'Science', 'Academy']

In [25]:
s.lower().split('a')

['d', 't', ' science ', 'c', 'demy']

In [26]:
s.capitalize()

'Data science academy'

In [ ]:
s.count('a')

3

In [29]:
s.lower().count('a')

4

In [31]:
s.isalnum()

False

In [30]:
s.islower()

False

In [32]:
s.isspace()

False

In [33]:
s.endswith('o')

False

LISTAS

In [37]:
lista_1 = ['arroz', 'frango', 'tomate']

In [38]:
type(lista_1)

list

In [39]:
print(lista_1)

['arroz', 'frango', 'tomate']

In [40]:
lista_2 = [23, 100, 'science']

In [41]:
type(lista_2)

list

In [42]:
del lista_2[2]

In [43]:
print(lista_2)

[23, 100]

In [44]:
listas = [[1,2,3], [4,5,6],[7,8,9]]

In [45]:
a = listas[0]
a

[1, 2, 3]

In [48]:
b = listas[2][2]
b

9

In [49]:
lista_3 = lista_1 + lista_2
lista_3

['arroz', 'frango', 'tomate', 23, 100]

In [52]:
print('sapo' in lista_3)

False

In [53]:
len(lista_3)

5

In [54]:
len(listas)

3

In [57]:
max(lista_2)

100

In [58]:
max(listas)

[7, 8, 9]

In [60]:
lista_3.append(100)

In [61]:
lista_3.count(100)

2

In [69]:
a = []
type(a)

list

In [70]:
a.append(10)
a.append(20)
a

[10, 20]

In [71]:
for item in lista_3:
    a.append(item)

In [72]:
a

[10, 20, 'arroz', 'frango', 'tomate', 23, 100, 7, 100]

In [76]:
a.index(23)

5

In [79]:
a.insert(0, 50)

In [80]:
a

[50, 100, 10, 20, 'arroz', 'frango', 'tomate', 23, 100, 7, 100]

In [81]:
a.remove(50)
a.remove(100)

In [82]:
a

[10, 20, 'arroz', 'frango', 'tomate', 23, 100, 7, 100]

In [85]:
a.reverse()
a

[100, 7, 100, 23, 'tomate', 'frango', 'arroz', 20, 10]

In [87]:
a.remove('tomate')
a.remove('frango')
a.remove('arroz')
a

[7, 23, 100, 100, 20, 10]

In [90]:
a.sort()
a

[7, 10, 20, 23, 100, 100]

DICIONARIOS

In [97]:
estudantes = ['pedro', 24, 'maria', 22, 'robson', 18]
estudantes

['pedro', 24, 'maria', 22, 'robson', 18]

In [98]:
type(estudantes)

list

In [99]:
estudantes_dict = {'pedro':24, 'maria':22, 'robson':18}
estudantes_dict

{'pedro': 24, 'maria': 22, 'robson': 18}

In [100]:
estudantes_dict['pedro']

24

In [103]:
estudantes_dict['raul'] = 30
estudantes_dict

{'pedro': 24, 'maria': 22, 'robson': 18, 'raul': 30}

In [107]:
estudantes = estudantes_dict
len(estudantes_dict)

4

In [106]:
estudantes_dict.keys()

dict_keys(['pedro', 'maria', 'robson', 'raul'])

In [108]:
type(estudantes)

dict

In [109]:
estudantes.values()

dict_values([24, 22, 18, 30])

In [110]:
estudantes.items()

dict_items([('pedro', 24), ('maria', 22), ('robson', 18), ('raul', 30)])

In [111]:
estudante = {'rei':10}

In [113]:
estudantes.update(estudante)
estudantes

{'pedro': 24, 'maria': 22, 'robson': 18, 'raul': 30, 'rei': 10}

In [114]:
estudantes, estudante, lista_3

({'pedro': 24, 'maria': 22, 'robson': 18, 'raul': 30, 'rei': 10},
 {'rei': 10},
 ['arroz', 'frango', 'tomate', 23, 100, 7, 100])

In [115]:
dict = {'chave1':1, 'chave2':[2,4,6], 'chave3':['ab','bc','cd']}
dict

{'chave1': 1, 'chave2': [2, 4, 6], 'chave3': ['ab', 'bc', 'cd']}

In [116]:
dict['chave2']

[2, 4, 6]

In [119]:
dict['chave3'][0].upper()

'AB'

In [122]:
var = dict['chave2'][2] - 1
var

5

In [123]:
dict['chave2'][2] += 7

In [124]:
dict

{'chave1': 1, 'chave2': [2, 4, 13], 'chave3': ['ab', 'bc', 'cd']}

In [125]:
dict_aninhado = {'key1': {'key2_aninhada':{'key3_aninhada':'dict aninhado em python'}}}
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'dict aninhado em python'}}}

In [126]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'dict aninhado em python'

In [128]:
tupla = ('geo', 23, 'python')
tupla

('geo', 23, 'python')

In [129]:
tupla[0]

'geo'

tuplas sao nao modificaveis

In [130]:
tupla.append('data')

AttributeError: 'tuple' object has no attribute 'append'

In [131]:
del tupla[1]

TypeError: 'tuple' object doesn't support item deletion

In [132]:
len(tupla)

3

In [133]:
tupla[1:]

(23, 'python')

In [134]:
tupla.index('geo')

0

In [135]:
del tupla

In [136]:
tupla

NameError: name 'tupla' is not defined