In [5]:
listas = [[1,2,3], [4,5,6], [3,8,9], [3,4,5]]
max(listas)

[4, 5, 6]

In [6]:
max(listas, key=sum)

[3, 8, 9]

## MANIPULANDO ARQUIVOS

### leitura

In [41]:
arq1 = open('cap06/arquivos/arquivo1.txt', 'r')     # 'r' = read

In [42]:
type(arq1)

_io.TextIOWrapper

In [43]:
print(arq1.read())

A Data Science Academy fornece cursos de alta qualidade e que transmitem muito conhecimento.

In [4]:
print(arq1.tell())

92

In [5]:
print(arq1.read())

In [6]:
print(arq1.seek(0,0))

0

In [7]:
print(arq1.read())

A Data Science Academy fornece cursos de alta qualidade e que transmitem muito conhecimento.

### escrita

In [8]:
arq2 = open('cap06/arquivos/arquivo2.txt', 'w')     # 'w' = write

In [9]:
print(arq2.read())

UnsupportedOperation: not readable

In [10]:
arq2.write("Aprendendo Python\n")

18

In [11]:
arq2.close()

In [12]:
arq2 = open('cap06/arquivos/arquivo2.txt', 'r')     # 'r' = read

In [35]:
print(arq2.read())

In [14]:
arq2 = open('cap06/arquivos/arquivo2.txt', 'a')     # 'a' = append

In [15]:
arq2.write('Escrevendo no arquivo 2\n')

24

In [16]:
arq2.close()

In [17]:
arq2 = open('cap06/arquivos/arquivo2.txt', 'r')    # 'r' = read

In [18]:
print(arq2.read())

Aprendendo Python
Escrevendo no arquivo 2

In [19]:
arq2.seek(0,0)

0

In [20]:
print(arq2.read())

Aprendendo Python
Escrevendo no arquivo 2

### dataset em uma unica linha

In [50]:
f = open('cap06/arquivos/salarios.csv', 'r')    # 'r' = read

In [ ]:
# data = f.read()       # le o arquivo inteiro
data = f.read(1000)     # le 1000 bytes do arquivo

In [52]:
rows = data.split('\n')

In [53]:
print(rows)

['Name,Position Title,Department,Employee Annual Salary', '"AARON,  ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00', '"AARON,  JEFFERY M",POLICE OFFICER,POLICE,$80778.00', '"AARON,  KARINA",POLICE OFFICER,POLICE,$80778.00', '"AARON,  KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00', '"ABAD JR,  VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00', '"ABARCA,  ANABEL",ASST TO THE ALDERMAN,CITY COUNCIL,$70764.00', '"ABARCA,  EMMANUEL",GENERAL LABORER - DSS,STREETS & SAN,$40560.00', '"ABBATACOLA,  ROBERT J",ELECTRICAL MECHANIC,AVIATION,$91520.00', '"ABBATEMARCO,  JAMES J",FIRE ENGINEER,FIRE,$90456.00', '"ABBATE,  TERRY M",POLICE OFFICER,POLICE,$86520.00', '"ABBOTT,  BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,$2756.00', '"ABBOTT,  LYNISE M",CLERK III,POLICE,$43920.00', '"ABBRUZZESE,  WILLIAM J",INVESTIGATOR - IPRA II,IPRA,$72468.00', '"ABDALLAH,  ZAID",POLICE OFFICER,POLICE,$69684.00', '"ABDELHADI,  ABDALMAHD",POLICE OFFICER,POLICE,$80778.00', '"ABDELLATIF,  AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,$98']

In [55]:
f = open('cap06/arquivos/salarios.csv', 'r')    # 'r' = read

In [ ]:
# data = f.read()       # le o arquivo inteiro
data = f.read(1000)     # le 1000 bytes do arquivo

In [57]:
rows = data.split('\n')

In [58]:
full_data = []

In [59]:
for row in rows: 
    split_row = row.split(',')
    full_data.append(split_row)

In [60]:
print(full_data)

[['Name', 'Position Title', 'Department', 'Employee Annual Salary'], ['"AARON', '  ELVIA J"', 'WATER RATE TAKER', 'WATER MGMNT', '$88967.00'], ['"AARON', '  JEFFERY M"', 'POLICE OFFICER', 'POLICE', '$80778.00'], ['"AARON', '  KARINA"', 'POLICE OFFICER', 'POLICE', '$80778.00'], ['"AARON', '  KIMBERLEI R"', 'CHIEF CONTRACT EXPEDITER', 'GENERAL SERVICES', '$84780.00'], ['"ABAD JR', '  VICENTE M"', 'CIVIL ENGINEER IV', 'WATER MGMNT', '$104736.00'], ['"ABARCA', '  ANABEL"', 'ASST TO THE ALDERMAN', 'CITY COUNCIL', '$70764.00'], ['"ABARCA', '  EMMANUEL"', 'GENERAL LABORER - DSS', 'STREETS & SAN', '$40560.00'], ['"ABBATACOLA', '  ROBERT J"', 'ELECTRICAL MECHANIC', 'AVIATION', '$91520.00'], ['"ABBATEMARCO', '  JAMES J"', 'FIRE ENGINEER', 'FIRE', '$90456.00'], ['"ABBATE', '  TERRY M"', 'POLICE OFFICER', 'POLICE', '$86520.00'], ['"ABBOTT', '  BETTY L"', 'FOSTER GRANDPARENT', 'FAMILY & SUPPORT', '$2756.00'], ['"ABBOTT', '  LYNISE M"', 'CLERK III', 'POLICE', '$43920.00'], ['"ABBRUZZESE', '  WILLIAM J"', 'INVESTIGATOR - IPRA II', 'IPRA', '$72468.00'], ['"ABDALLAH', '  ZAID"', 'POLICE OFFICER', 'POLICE', '$69684.00'], ['"ABDELHADI', '  ABDALMAHD"', 'POLICE OFFICER', 'POLICE', '$80778.00'], ['"ABDELLATIF', '  AREF R"', 'FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC', 'FIRE', '$98']]

In [31]:
type(rows)

list

In [32]:
type(full_data)

list

### contando linhas

In [68]:
f = open('cap06/arquivos/salarios.csv', 'r')    # 'r' = read

In [69]:
data = f.read()     # le 1000 bytes do arquivo

In [70]:
rows = data.split('\n')

In [71]:
full_data = []

In [72]:
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)

In [73]:
count = 0
for row in full_data:
    count +=1

In [74]:
print(count)

32184

### contando colunas

In [75]:
f = open('cap06/arquivos/salarios.csv', 'r')    # 'r' = read
data = f.read()     # le 1000 bytes do arquivo
rows = data.split('\n')
full_data = []

In [76]:
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)
    first_row = full_data[0]
count = 0

In [77]:
for column in first_row:
    count +=1

In [ ]:
print(count)

4

### gerando arquivo pelo jupyter notebook

In [80]:
%%writefile cap06/arquivos/arquivo3.txt
Este arquivo foi gerado pelo Jupyter Notebook.
Podemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.

Overwriting cap06/arquivos/arquivo3.txt

In [81]:
arq3 = open('cap06/arquivos/arquivo3.txt', 'r')    # 'r' = read

In [82]:
arq3.read()

'Este arquivo foi gerado pelo Jupyter Notebook.\nPodemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.\n'

In [83]:
arq3.read()

''

In [84]:
arq3.seek(0,0)

0

In [85]:
arq3.read()

'Este arquivo foi gerado pelo Jupyter Notebook.\nPodemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.\n'

In [86]:
arq3.seek(0,0)
arq3.readlines()

['Este arquivo foi gerado pelo Jupyter Notebook.\n',
 'Podemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.\n']

In [87]:
for line in open('cap06/arquivos/arquivo3.txt', 'r'):
    print(line)

Este arquivo foi gerado pelo Jupyter Notebook.

Podemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.

### importando dataset com pandas

In [88]:
import pandas as pd

In [89]:
pd.__version__

'2.2.2'

In [94]:
arquivo = "cap06/arquivos/salarios.csv"

In [95]:
df = pd.read_csv(arquivo, sep=',', header=0, encoding='latin1')

In [96]:
df.head(10)

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00
5,"ABARCA, ANABEL",ASST TO THE ALDERMAN,CITY COUNCIL,$70764.00
6,"ABARCA, EMMANUEL",GENERAL LABORER - DSS,STREETS & SAN,$40560.00
7,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,$91520.00
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER,FIRE,$90456.00
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,$86520.00

In [97]:
df['Position Title'].value_counts()

Position Title
POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: count, Length: 1094, dtype: int64

### manipulando arquivos json

In [98]:
dict_guido = {'name': 'Guido van Rossum', 'age': 66, 'city': 'Amsterdam', 'job': 'programmer'}

In [99]:
for key, value in dict_guido.items():
    print(key, value)

name Guido van Rossum
age 66
city Amsterdam
job programmer

In [100]:
import json

In [110]:
json.dumps(dict_guido)

'{"name": "Guido van Rossum", "age": 66, "city": "Amsterdam", "job": "programmer"}'

In [111]:
with open('cap06/arquivos/dict_guido.json', 'w') as arquivo:
    arquivo.write(json.dumps(dict_guido))

In [112]:
with open('cap06/arquivos/dict_guido.json', 'r') as arquivo:
    texto = arquivo.read()
    dados = json.loads(texto)

In [113]:
dados

{'name': 'Guido van Rossum',
 'age': 66,
 'city': 'Amsterdam',
 'job': 'programmer'}

In [116]:
print(dados['name'])

Guido van Rossum

### extracao de arquivo web

In [118]:
from urllib.request import urlopen

response = urlopen('https://vimeo.com/api/v2/video/76979871.json').read().decode('utf-8')
dados = json.loads(response)[0]

In [119]:
dados

{'id': 76979871,
 'title': 'The New Vimeo Player (You Know, For Videos)',
 'description': 'It may look (mostly) the same on the surface, but under the hood we totally rebuilt our player. Here’s a quick rundown of some of the coolest new features:<br />\r\n<br />\r\n• Lightning fast playback<br />\r\n• Redesigned Share screen<br />\r\n• Closed caption and subtitle compatible<br />\r\n• HTML5 by default<br />\r\n• Purchase-from-player functionality for embedded Vimeo On Demand trailers<br />\r\n• More responsive than ever (go ahead, resize it, we dare you!!!)<br />\r\n<br />\r\nWe’re really proud of these updates. So proud that we made a spiffy new page to showcase all the reasons why we have the best video player in the galaxy. Check it out here: http://vimeo.com/player<br />\r\n<br />\r\nIn short, this is a player that even haters can love.',
 'url': 'https://vimeo.com/76979871',
 'upload_date': '2013-10-15 14:08:29',
 'thumbnail_small': 'https://i.vimeocdn.com/video/452001751-8216e0571c251a09d7a8387550942d89f7f86f6398f8ed886e639b0dd50d3c90-d_100x75?region=us',
 'thumbnail_medium': 'https://i.vimeocdn.com/video/452001751-8216e0571c251a09d7a8387550942d89f7f86f6398f8ed886e639b0dd50d3c90-d_200x150?region=us',
 'thumbnail_large': 'https://i.vimeocdn.com/video/452001751-8216e0571c251a09d7a8387550942d89f7f86f6398f8ed886e639b0dd50d3c90-d_640?region=us',
 'user_id': 152184,
 'user_name': 'Vimeo',
 'user_url': 'https://vimeo.com/staff',
 'user_portrait_small': 'https://i.vimeocdn.com/portrait/99253974_30x30?subrect=20%2C15%2C985%2C980&r=cover&sig=b06770b44721cb02eecdc7cf1e7a11f399d492e3bf56142250f634c2a72a40bb&v=1&region=us',
 'user_portrait_medium': 'https://i.vimeocdn.com/portrait/99253974_75x75?subrect=20%2C15%2C985%2C980&r=cover&sig=b06770b44721cb02eecdc7cf1e7a11f399d492e3bf56142250f634c2a72a40bb&v=1&region=us',
 'user_portrait_large': 'https://i.vimeocdn.com/portrait/99253974_100x100?subrect=20%2C15%2C985%2C980&r=cover&sig=b06770b44721cb02eecdc7cf1e7a11f399d492e3bf56142250f634c2a72a40bb&v=1&region=us',
 'user_portrait_huge': 'https://i.vimeocdn.com/portrait/99253974_300x300?subrect=20%2C15%2C985%2C980&r=cover&sig=b06770b44721cb02eecdc7cf1e7a11f399d492e3bf56142250f634c2a72a40bb&v=1&region=us',
 'duration': 62,
 'width': 1280,
 'height': 720,
 'tags': '',
 'embed_privacy': 'anywhere'}

In [121]:
print('titulo:', dados['title'])
print('descricao:', dados['description'])
print('data:', dados['upload_date'])
print('tags:', dados['tags'])

titulo: The New Vimeo Player (You Know, For Videos)
descricao: It may look (mostly) the same on the surface, but under the hood we totally rebuilt our player. Here’s a quick rundown of some of the coolest new features:<br />
<br />
• Lightning fast playback<br />
• Redesigned Share screen<br />
• Closed caption and subtitle compatible<br />
• HTML5 by default<br />
• Purchase-from-player functionality for embedded Vimeo On Demand trailers<br />
• More responsive than ever (go ahead, resize it, we dare you!!!)<br />
<br />
We’re really proud of these updates. So proud that we made a spiffy new page to showcase all the reasons why we have the best video player in the galaxy. Check it out here: http://vimeo.com/player<br />
<br />
In short, this is a player that even haters can love.
data: 2013-10-15 14:08:29
tags:

In [122]:
arquivo_fonte = 'cap06/arquivos/dados.json'
arquivo_destino = 'cap06/arquivos/dados.txt'

In [ ]:
# metodo 1
with open(arquivo_fonte, 'r') as infile:
    text = infile.read()
    with open(arquivo_destino, 'w') as outfile:
        outfile.write(text)

In [ ]:
# metodo 2
open(arquivo_destino, 'w').write(open(arquivo_fonte, 'r').read())

107

In [126]:
with open('cap06/arquivos/dados.json', 'r') as arquivo:
    texto = arquivo.read()
    dados = json.loads(texto)

In [127]:
print(dados)

{'nome': 'Guido van Rossum', 'linguagem': 'Python', 'similar': ['c', 'Modula-3', 'lisp'], 'users': 1000000}